@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

.sidepanel{
	text-align: center;
	height: 100%;
	background-color: #1C1A27;
	padding: 1.5% !important;
	box-shadow: 0px 0px 30px 5px black !important;
	position: fixed;
}

.mainveiw{
	background-color: #0E0D15;
	text-align: center;
	height: 100%;
	margin-left: 16.7vw !important;
	padding: 5% !important;
	overflow: hidden;
}

.actualitem{
	width: 5vw;
  filter: drop-shadow(0px 0px 5px black);
}


.fbbtn{
	font-size: 10px !important;
	border:2px solid #3b5998 !important;
	background-color: transparent !important;
	width: 100%;
	height: 6vh !important;
	margin-top:15vh !important;
	line-height: 5.5vh !important;
	font-family: sans-serif;
	color: #fff !important;
	font-family: 'PT Sans Narrow', sans-serif;
}


.livetradesblock{
	border-top: 7vh solid #1F1D2B;
	margin-left: -1.5vw !important;
	margin-top: 10vh !important;
	height: 30vh;
	width: 16.5vw;
	padding: 2vw !important;
	padding-top: 2vw !important;
}

.itemcard{
	width: 100%;
	height: 5vh;
	border: 2px solid #841F30;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 1px #0E0D15;
	margin-top: 2vh !important;
}

.explan{
	font-size: 18px;
	margin-top: 1vh !important;
	margin-left:1vw !important;
	padding-right: 2vw !important;
	position: absolute;
}

.moretext{
	color: #fafafa;
	margin-top: 1.5vh !important;
	margin-left:2vw !important;
	font-size: 12px;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 1px;
}

.totalval{
	position: absolute;
	color: #6C7A89;
	font-family: 'PT Sans Narrow', sans-serif;
	width: 80%;
	text-align: center;

	top: 53.5%;
}


h3{
	margin-top: 5vh !important;
	position: absolute;
	color: #6C7A89;
	font-family: 'PT Sans Narrow', sans-serif;
	width: 80%;
	text-align: center;
	font-size: 16px !important;
}

.mainveiw .row{
		margin-top: 5vh !important;
}
.mainview .firstrow{
		margin-top: 0vh !important;
}
.itemchip{
	width: 90%;
	height: 300px;
	box-shadow: 0px 0px 30px black;
	background: linear-gradient(to top right, #1A1925 , #1F1D2A);
	border-radius: 5px;
	padding-top: 7vh !important;
	margin-left: 2vh !important;
	text-align: center;
}

.bottombit{
	margin-top: 6vh !important;
	height: 50px;
	background-color: #201E2E;
	width: 300px;
	position: absolute;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.bottombitside{
	height: 50px;
	background-color: #191725;
	width: 180px;
	position: absolute;
	left: 0;
	border-bottom-left-radius: 5px;
}

.price{
	position: absolute;
	margin-left: 72% !important;
	font-size: 18px !important;
	color: #6C7A89;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 21px;
	margin-top: 1.7vh !important;
}

.price span{
	color: #841F30;
	font-size: 17px;
}

.name{
	position: absolute;
	margin-left: 17% !important;
	font-size: 16px !important;
	color: #6C7A89;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 21px;
	margin-top: 1.9vh !important;
}

.traignalelogo{
	width: 8vw;
	margin-top: 3vh !important;
}

.frontchart{
	width: 600px;
	height: 350px;
	margin-left: 2vw !important;
	position: absolute;
	margin-top: 3vh !important;
}

.frontpanel{
	width: 100%;
	height: 50vh;
	background-color: #1C1A27;
	border-radius: 3px;
}

.blocksecond{
	width: 350px;
	height: 350px;
	float: right;
	background-color: #0E0D15;
	margin-top: 3vh !important;
	margin-right: 2vw !important;
	border-radius: 3px;
}
