<div class="row">
    <div class="col s12 m2 l2 sidepanel" style="z-index: 9000 !important;">

      <div class="eye"><div class="iris anim"></div></div>
      <h3 class="currenttime">{{myDate | date:'mediumTime'}}</h3>
      <a class="waves-effect waves-light btn fbbtn" (click)="loginWithFacebook()">Login with Facebook</a>

      <div class="totalval">1 Hypercoin = $3.2321USD</div>
      <div class="livetradesblock">
        <div class="itemcard" style="color: #049372; border-color: #049372;"><div class="explan">&#8670;</div> <div class="moretext">1 Halloween Skin Sold</div></div>
        <div class="itemcard" style="color: #841F30; border-color: #841F30;"><div class="explan">&#8671;</div> <div class="moretext">3 Dark Souls Skin Sold</div></div>
        <div class="itemcard" style="color: #049372; border-color: #049372;"><div class="explan">&#8670;</div> <div class="moretext">1 Meme420 Skin Sold</div></div>
      </div>
    </div>
    <div class="col s12 m10 l10 mainveiw">
      <div class="itemchip"><div class="bottombit"><div class="price">32,35 <span>$</span></div><div class="bottombitside"><div class="name">PussyMaster45</div></div></div></div>
    </div>
</div>
